:root {
  --cinza: #aaa;
  --laranja: #e9743d;
  --vermelha-escura: #af303f;
  --laranja-claro: #f1e0a9;
  --luz: rgb(255, 166, 0);
}

body {
  align-items: center;
  background: linear-gradient(45deg, #dfd4a7 0%,#e3b529 100%);
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif; 
  min-height: 100vh;
}

h1 {
  color: var(--laranja-claro);
  margin-bottom: 30px;
  font-size: 5rem;
}

.teclado {
  background: linear-gradient(to bottom, #eeeeee 0%,#cccccc 100%);
  box-shadow: 4px 6px 0 4px #f6c075, 18px 15px 30px #000;
  border-radius: 15px;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  padding: 10px;
}

.tecla {
  background-color: var(--laranja-claro);
  border-radius: 5px;
  box-shadow: 3px 3px 0 var(--cinza), 2px 3px 5px #000;
  color: var(--laranja);
  cursor: pointer;
  height: 120px;
  font-size: 1.75em;
  font-weight: 'Montserrat', sans-serif;
  line-height: 120px;
  text-align: center;
  width: 120px;
}

.tecla.ativa,
.tecla:active {
  background-color: var(--laranja);
  border: 4px solid  var(--laranja);
  box-shadow: 3px 3px 0 var(--vermelha-escura) inset;
  color: var(--laranja-claro);
  outline: none;
}

.tecla.focus,
.tecla:focus {
  outline: none;
  box-shadow: 1px 1px 10px var(--luz);
}

.tecla.active:focus,
.tecla:active:focus {
  box-shadow: 3px 3px 0 var(--vermelha-escura) inset, 1px 1px 10px var(--luz);
}


